
body {
  font-family: "Helvetica", "Arial", sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat (3, 1fr);
  grid-template-rows: (200px, 200px, 200px)
}

#introduction {
  grid-area: introduction;
  background-color: #ddd;
  grid-column-start: 1;
  grid-column-end: 3
}

#geography {
  grid-area: geography;
  grid-row-start: 2;
  grid-row-end: span 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

#government {
  grid-area: government;
  grid-row-start: 2;
  grid-column-end: 3
}

#militaryandsecurity {
  grid-area: militaryandsecurity;
  grid-column-start: 3;
  grid-column-end: 3
}

table {
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  border-collapse: collapse;
}

th,
td {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
}
