
body{
  display:grid;
  grid-template-rows: 200px 500px 200px;
}

#a {
  grid-area: a;
  background-color: #000000;
}

#b {
  grid-area: b;
  background-color: #FFFFFF;
}

#c {
  grid-area: c;
  background-color: #000000;
}
